CINQWCF.Service/CINQWCFHostWPF/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CINQWCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CINQWCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonalData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalData" nillable="true" type="tns:PersonalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalData" nillable="true" type="tns:ArrayOfPersonalData" />
  <xs:complexType name="PersonalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalData" nillable="true" type="tns:PersonalData" />
</xs:schema>