CINQWCFHostWPF/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CINQWCF.Service/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CINQWCF.Service" />
  <xs:element name="ReadData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CINQWCF.Service" minOccurs="0" name="ReadDataResult" nillable="true" type="q1:ArrayOfPersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>